{% extends "base.html" %}
{% load static %}
{% load custom_tags %}
{% block head %}
<link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="top-wrapper">
<div class="container">
    {% include "nav.html" %}
    <hr>
    <div class="card">
        <div class="row no-gutters">
            <div class="col-auto">
                {% for image in headline_article.images %}
                <img src={{image.url}} class="rounded float-left headline-thumbnail" alt="...">
                {% endfor %}
            </div>
            <div class="col">
                <div class="card-block px-2">
                    <h3 class="card-title card-headline-bold article-headline">
                        <a href="{% url 'article-detail' headline_article.uuid %}">{{headline_article.headline}}</a>
                        </h3>
                        <p class="text-muted">
                            {{headline_article.authors.0.byline}}  {{headline_article.created|custom_date:"F j, Y"}}
                        </p> 
                    <h5 class="card-text">{{headline_article.promo}}</h5>
                </div>
            </div>
        </div>
    </div>
    <hr>
</div>

<div class="container">
    <div class="row">
        {% for article in randomized_content %}
        <div class="col-lg-4 d-flex justify-content-center align-items-stretch">
            <div class="card w-100">
                {% for image in article.images|slice:":1" %}
                <img class="rounded card-img-top article-thumbnail" src="{{image.url}} " alt="">
                {% endfor %}
                <div class="card-body">
                    <p class="card-text card-headline card-headline-bold"><a href="{% url 'article-detail' article.uuid %}">
                    {{article.headline}}</a></p>
                    <h6 class="card-subtitle mb-2 text-muted">{{article.authors.0.byline}}</h6>
                    <h6 class="card-subtitle mb-2 text-muted">{{article.created|custom_date:"F j, Y"}}</h6>
                    <p>{{article.promo}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
</div>
{% endblock %}



